<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vet Practice Management</title>
</head>
<body>
    <header>
        <h1>Welcome to Vet Practice Management</h1>
        <nav>
            <a href="/">Vets Overview</a>
            <a href="/vets/search.html">Search for entry</a>
        </nav>
        <main>
            {% block content %}
                
            {% endblock content %}
        </main>
    </header>
    <footer>
        <h2>Vet Practice Management</h2>
        <nav>
            <a href="/vets/index.html">Vets Overview</a>
            <a href="/vets/search.html">Search for entry</a>
        </nav>
    </footer>
</body>
</html>